<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Project Completion Notification</title>
</head>

<body>
    <table>
        <tr>
            <th>
                <p>Project Completion Notification</p>
            </th>
        </tr>
        <tr>
            <td>
                <img src="https://img.freepik.com/premium-vector/complete-task-accomplishment-project-done-checklist-success-achievement-checkbox-job-done_566886-1254.jpg" alt="Project Completed">
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: 30px;">Hello Admin,</p>
                <h2 style="font-size: 30px;">Project Completion Alert</h2>
                <p style="color: black; font-size: 18px; margin: 10px 2px;">
                    We're excited to inform you that the project has been successfully completed!
                </p>
                
                <p style="margin: 10px;"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="color: black; font-size: 18px; margin: 10px 2px;">
                    Project status has been updated to completed.
                </p>
            </td>
        </tr>
    </table>
</body>

</html>
