<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Project Assignment</title>
</head>

<body>
    <table>
        <tr>
            <th>
                <p>New Project Assignment</p>
            </th>
        </tr>
        <tr>
            <td>
                <img src="https://img.freepik.com/free-vector/group-people-starting-business-project_52683-57206.jpg" alt="Project Image">
            </td>
        </tr>
        <tr>
            <td>
                <p style="font-size: 30px;">Hello,</p>
                <h2 style="font-size: 30px;">You've Been Assigned a New Project!</h2>
                <p style="color: black; font-size: 18px; margin: 10px 2px;">
                    Congratulations! You've been assigned a new project. Please log in to your account to view the details.
                </p>
                <p style="margin: 10px;"></p>
            </td>
        </tr>
        <tr>
            <td>
                <p style="color: black; font-size: 18px; margin: 10px 2px;">
                    If you have any questions or need further assistance, feel free to contact us.
                </p>
            </td>
        </tr>
    </table>
</body>

</html>
